<app-listado-generico [listado]="movies">
    <ng-container vacio>
        <div>No hay movies!!</div>
    </ng-container>

    <ng-container contenido>
        <div *ngFor="let movie of movies; let i = index" class="pelicula-contenedor">

            <h2>pelicula {{i+1}}: {{movie.titulo}}
                <button
                    style="margin-left: 1rem;"
                    (click)="remover(i)"
                    >Remover
                </button>
            </h2>

        <div>{{movie.fechaEstreno | date}}</div>
        <div>{{movie.precioEntrada | currency}}</div>
        </div>
    </ng-container>
</app-listado-generico>